.wrap-list-product-page .original-price {
    text-decoration: line-through;
}

.wrap-list-product-page .img-product {
    width: 150px;
    height: 150px;
}

.wrap-edit-product-page .img-product {
    width: 150px;
    height: 150px;
}
